<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logfav.png">
    <link rel="shortcut icon" href="/images/logfav.png">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="/css/normalice.css">
    <link rel="stylesheet" href="/css/estilo.css">
</head>

<body>
    <header class="hero">
        <div class="container">
            <section class="form__registro">
                <form action="/reset-password/{{token}}" method="post">

                    <div class="form__container">
                        <h3 class="form__ingresar">Restablecer Contraseña</h3>
                        <input class="controls" type="password" name="password" placeholder="Nueva Contraseña" required>
                        <input class="controls" type="password" name="confirmPassword" placeholder="Confirmar Contraseña" required>
                        <button class="buttons" type="submit">Restablecer</button>
                    </div>
                </form>
            </section>
        </div>
    </header>
</body>

</html>
