<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Nuestros Trabajos</title>
    <link rel="stylesheet" href="/css/normalice.css">
    <link rel="stylesheet" href="/css/estilo.css">
</head>

<body>
    <header class="hero">
        <div class="container">
            <nav class="nav">
                <a href="/" class="nav__items nav__items--cta">Inicio</a>
                <a href="/login" class="nav__items">Iniciar Sesión</a>
                <a href="/register" class="nav__ nav__items nav__items--cta">Registrate</a>
            </nav>
            <section>
                <section>
                    <div class="container">
                        <h2 class="subtitle-">Nuestros Trabajos</h2>
                        <div class="projects__grid">
            
                            <article class="projects__item">
                                <img src="/images/6.jpg" class="projects__img">
                                <div class="projects__hover">
                                    <h2 class="projects__title">Varillado Mecanico</h2>
            
                                    <i>Una buena técnica y maquinaria de calidad son escenciales para un buen trabajo.</i>
                                </div>
                            </article>
            
                            <article class="projects__item">
                                <img src="/images/7.jpeg" class="projects__img">
                                <div class="projects__hover">
                                    <h2 class="projects__title">Limpieza Química de Chillers</h2>
                                    <i>Productos de calidad y horas necesarias para una buena Limpieza</i>
                                </div>
                            </article>
            
                            <article class="projects__item">
                                <img src="/images/8.jpg" class="projects__img">
                                <div class="projects__hover">
                                    <h2 class="projects__title">Rectificación de cara plana y montaje de Usillos</h2>
                                    <i>Son escenciales para un buen armado de compresores.</i>
                                </div>
                            </article>
            
                            <article class="projects__item">
                                <img src="/images/9.jpeg" class="projects__img">
                                <div class="projects__hover">
                                    <h2 class="projects__title">Varillado Mecanico</h2>
                                    <i>Para mejorar la condensacion y mantener un approach optimo en Chillers condensados
                                        por
                                        agua.</i>
                                </div>
                            </article>
            
                            <article class="projects__item">
                                <img src="/images/10.jpg" class="projects__img">
                                <div class="projects__hover">
                                    <h2 class="projects__title">Mantencion a Chiller</h2>
                                    <i>Overhaul a compresores de refrigeracion industrial</i>
                                </div>
                            </article>
            
                        </div>
                    </div>
                </section>

            </section>
        </div>
        <div class="hero__wave" style="overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>

    <section class="about container">
        <div class="about_texts">
            <h2 class="subtitle">Servicio de Reparación de Climatización de Alta Calidad</h2>
            <p class="about__paragraph">En nuestra empresa, nos especializamos en la reparación de equipos de climatización, incluyendo tipos de chillers y compresores, de marcas reconocidas como York, Carrier y Trane. </p>
            <p class="about__paragraph">Nuestro equipo de técnicos altamente capacitados se asegura de que cada reparación se realice con los más altos estándares de calidad y seguridad, tomando todas las precauciones necesarias para proteger tanto al personal como a los equipos en cada etapa del proceso.</p>
            <p class="about__paragraph">Esto no solo garantiza el óptimo funcionamiento de sus sistemas de refrigeración y climatización, sino que también asegura un entorno de trabajo seguro y confiable.</p>
        </div>
        <figure class="about__img">
            <img src="/images/11.jpeg" alt="Trabajos" class="about__picture">
        </figure>
        <figure class="about__img about__img--left">
            <img src="/images/12.png" alt="Trabajos"
            class="about__picture">
        </figure>
        <div class="about__texts">
            <h2 class="subtitle">Suministros y Venta de Repuestos</h2>
            <p class="about__paragraph">Contamos con un amplio catálogo de repuestos y suministros para sistemas de climatización y refrigeración, incluyendo kits de reparación de compresores, aceites, filtros, o-rings, tarjetas y más.
            </p>
            <p class="about__paragraph">Sabemos que el rendimiento óptimo de sus equipos depende de la calidad de cada componente, por eso ofrecemos piezas especializadas que contribuyen a mejorar la eficiencia y prolongar la vida útil de sus sistemas. Nuestro equipo está disponible para asesorarle en la elección de los repuestos más adecuados según sus necesidades específicas.</p>
        </div>
    </section>
    <section class="about container">
        <div class="about_texts">
            <h2 class="subtitle">Diagnóstico Técnico con Herramienta Service Tool</h2>
            <p class="about__paragraph">Visita Técnica con Herramienta Service Tool, un servicio especializado que permite realizar un diagnóstico detallado del estado de su equipo de climatización.</p>
            <p class="about__paragraph">Con nuestra herramienta avanzada, nuestros técnicos recopilan datos precisos sobre el funcionamiento de la unidad, identificando posibles fallos y optimizando su rendimiento. Al finalizar, le entregaremos un Informe Completo con todas las observaciones y recomendaciones necesarias para mantener su sistema en óptimas condiciones.</p>
        </div>
        <figure class="about__img">
            <img src="/images/13.png" alt="Trabajos" class="about__picture">
        </figure>
        <figure class="about__img about__img--left">
            <img src="/images/14.JPG" alt="Trabajos"
            class="about__picture">
        </figure>
        <div class="about__texts">
            <h2 class="subtitle">Puestas en Marcha</h2>
            <p class="about__paragraph">Nos especializamos en la puesta en marcha de chillers, asegurando que el proceso de instalación y arranque se realice de manera eficiente y segura.
            </p>
            <p class="about__paragraph">Nuestro equipo técnico se encarga de realizar todas las pruebas necesarias para verificar el correcto funcionamiento del equipo, ajustando los parámetros de operación según las especificaciones del fabricante. Esto garantiza que el sistema opere con la máxima eficiencia desde el primer día, prolongando la vida útil del chiller y optimizando el consumo energético.</p>
        </div>
    </section>
    </main>
    <div class="footer-spacing"></div>
<footer class="text-center mt-5">
    <div class="container_footer">
        <p class="mb-1">© 2024 C.A.C. Refrigeración.</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="/" class="text-decoration-none">
                    <i class="fas fa-home fa-2x footer-icon"></i> 
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://api.whatsapp.com/send?phone=56949864821" class="text-decoration-none" target="_blank">
                    <i class="fab fa-whatsapp fa-2x footer-icon"></i> 
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.instagram.com/cacrefrigeracionspa/" class="text-decoration-none" target="_blank">
                    <i class="fab fa-instagram fa-2x footer-icon"></i> 
                </a>
            </li>
        </ul>
    </div>
</footer>
    
</body>

</body>

</html>